.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kuer-liste {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 400px;
  text-align: left;
}

.kuer-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.25rem 0;
  justify-content: flex-start;
}

.kuer-nummer {
  display: inline-block;
  width: 2em;
  text-align: right;
  font-weight: bold;
  margin-right: 0.7em;
  color: #000000;
}
